@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  div.tab-list > button {
    
    @apply text-sm;
    @apply font-bold;
    @apply font-open;
  }
}